.base-dialog {
  min-width: 700px;

  &.inaccecable .mat-dialog-container{
    background: rgba(30, 30, 30, 0.75);
    backdrop-filter: blur(26.565px);
  }
  .mat-dialog-container {
    padding: 0;
  }

  .tt-dialog-content-container {
    flex: 1;
    padding: 0 2rem;
    p {
      max-width: 100% !important;
    }
  }

  .tt-dialog {
    height: 100%;
    position: relative;
    padding: 3em 0em;

    &.playlist{
      & .tt-dialog-header{
        top: 7.2%;
        right: 4%;
        // &:lang(ar){
        //   left: 4%;
        //   right: auto;
        // }
      }
    }

    &.content-inaccessible {
      text-align: center;

      p {
        text-align: center;
        font-size: 1.2rem !important;
        font-weight: 400;
        padding: 0 1rem;
      }

      .tt-dialog-content h3 {
        justify-content: center;
        font-size: 2.2rem ;
      }

      .tt-dialog-actions{
        justify-content: center;
      }
    }

    &.auth {
      padding: 0;
      & .tt-dialog-content-container {
        padding: 0;
      }
    }
    &.switch-profile-popup {
      padding: 3em;
    }

    & .tt-dialog-header {
      position: absolute;
      // right: 5%;
      right: 3%;
      top: 12%;
      z-index: 2;
      & span {
        cursor: pointer;
      }
    }

    & .tt-dialog-container:not(.register) {
      display: flex;
      height: 85%;
      &.column {
        flex-direction: column;
        justify-content: flex-start;
        display: flex;
        padding: 4rem 2.5rem 2rem 2.5rem;
      }

      & .section-title {
        margin-bottom: 1rem;
      }
    }

    & .img-container {
      display: flex;
      // padding: 0 2rem;
      padding: 0 2rem;
      // min-width: 130px;
      border-right: 2px solid #43434d;
      line-height: 12;
      border-left: none;
      // height: 160px;
      height: 118px;
      align-items: flex-start;
      &.switch-profile {
        min-width: 130px;

        height: 370px;
        padding: 0;
        align-items: unset;
      }

      img {
        height: fit-content;
      }
    }
    &.cancel-subscription {
      & .img-container {
        padding: 2rem;
      }
      & .tt-dialog-content {
        padding-top: 1rem;
      }
    }

    & .tt-dialog-content {
      & h3 {
        font-size: 22px;
        font-weight: 700;
        padding-bottom: 25px;
        &.decrease-padding{
          padding-bottom: 10px;
        }
        display: flex;
        color: @tt-white-3;
        align-items: center;
        gap: 4px;
        &.flex-reverse {
          flex-direction: row-reverse;
          justify-content: start;

          // &:lang(ar) {
          //   flex-direction: unset;
          // }
        }

        div {
          display: flex;
          gap: 4px;

          img {
            height: 24px;
            width: 24px;
          }

          & * {
            padding: 0;
            font-size: 22px;
            font-weight: 600;
          }
        }

        &.center-title {
          text-align: center !important;
          font-size: 1.7rem !important;
          margin-bottom: 20px !important;
        }
      }

      & p {
        font-size: 14px;
        padding-bottom: 1rem;
        max-width: 70%;
      }
      &.frame-class {
        height: 260px;

        h3 {
          font-size: 2.5rem;
          line-height: 2rem;
        }
      }
    }

    .iframe {
      margin-top: 2rem;
      width: 100%;
      height: 75%;

      & body {
        background-color: transparent !important;
        color: #fff;
      }
    }
  }

  &.subscription-confirmation-popup {
    min-width: 575px;
    .tt-dialog {
      & .tt-dialog-header {
        right: 8%;
        top: 15%;
      }
    }
  }
  .tt-dialog-actions {
    display: flex;
    margin-top: 2rem;
    &.reset-password {
      margin-top: -1rem;
    }
    justify-content: flex-end;
    gap: 1rem;

    & button {
      border: none;
      width: 17rem;
      height: 54px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
    }

    & button.transparent {
      background: transparent;
      color: @tt-primary-color;
      &.remove-margin{
        width: fit-content;
        margin-right: 20px;
        // &:lang(ar){
        //   margin-right: 0;
        //   margin-left: 20px;
        // }
      }

      &.cancel {
        width: 10rem;
      }

      & a {
        color: @tt-primary-color;
        text-decoration: none;
        font-weight: 700;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    & button.primary {
      background: @tt-primary-color;
      color: @tt-wite-v2;
      border-radius: 5px;
      transition: background ease-in-out 0.3s;

      &:hover,
      &:focus {
        background: @tt-primary-hover-color;
      }
      &[disabled] {
        cursor: no-drop;
        pointer-events: none;
        color: @tt-wite-v2;
        opacity: 0.6;
      }
    }

    &.no-margin:not(.mtv) {
      margin-top: 0;
    }
  }

  &.subscription-confirmation-popup {
    min-width: 575px;
    .tt-dialog-actions {
      & button.secondary {
        width: fit-content;
        padding: 0 2rem;
      }
    }
  }
}

.success {
  .tt-dialog-content-container {
    width: 75%;
  }
  .img-container {
    min-width: 25%;
    text-align: center;
  }
  &.tt-dialog-container {
    padding: 4rem 1rem;
  }
}

form.cancel-subscription,
form.forgot,
form.verify,
form.reset,
form.continue-register-form,
form.add-password,
form.enter-pin-form,
form.mtv-register-form,
form.delete-account-form {
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.pin-verification-form {
    padding: 0;
  }
  // &:lang(ar) {
  //   padding-left: 3rem;
  //   padding-right: 0;
  // }
}
form.switch {
  margin-top: 1rem;
  padding: 0rem;
  &.playlist-list-popup {
    margin-top: 0;
    height: 218px;
    @media (min-width: 1800px) {
      height: 23vh;
    }
    }
  p {
    padding: 0 !important;
  }

  mat-radio-button {
    border-bottom: 1px solid #43434d;
    padding-bottom: 1rem;
    width: 98%;
  }
}
app-edit-avatar-popup {
  flex-direction: column;
  min-height: 400px;
}
app-manage-profile {
  flex-direction: column;
}

form.scratch-form {
  width: 95%;
}

app-sign-in-up {
  display: flex;
  width: 100%;

  & .tt-dialog-content-container {
    width: 100%;
    padding: 3em 0 3em !important;

    & .tt-dialog-content h3 {
      font-size: 2.4rem !important;
    }
  }
}

app-mtv-sign-in-up {
  display: flex;
  width: 100%;
  & .tt-dialog-content-container {
    padding: 0 2em;
  }
}

.cdk-overlay-container {
  z-index: 1000;
}

app-block-account {
  p {
    width: 80%;
    padding: 0 !important;
  }
  h3 {
    margin-bottom: 1rem;
  }
}

.communication-channel {
  .mat-radio-label-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
