<article class="landing">
    <ng-container >
      <section class="banner">
        <div class="banner-content">
          <div class='default-padding'>
            <h2 class="section-title">WATCH</h2>
            <p>Original productions. Exclusive dubbed international content and regional content</p>
            <button (click)="GoToSignIn()" class="tt-btn primary">
                START YOUR MEMBERSHIP
            </button>
          </div>
        </div>
      </section>
    </ng-container>
  </article>